# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.txt
settings_OLD.org
*.el
.emacs.d/elpa/ledger-mode-20170413.2120/ledger-texi.elc
*.elc
.emacs.d/elpa/org-20170210/etc/styles/OrgOdtContentTemplate.xml
*.xml
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!archive.org.~4~
*.~5~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!archive.org.~8~
*.~9~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!archive.org.~18~
*.~64~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!settings.org.~67~
*.~62~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!settings.org.~45~
*.~44~
*.~43~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!settings.org.~47~
*.~48~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!settings.org.~50~
*.~51~
*.~40~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~86~
*.~87~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.git!COMMIT_EDITMSG.~3~
*.~37~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~73~
*.~74~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~75~
*.~76~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~72~
*.~77~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~81~
*.~82~
*.~79~
*.~84~
*.saves-760-LENOVO-PC~
*.org#
.emacs.d/auto-save-list/#c!!Users!betsy!Dropbox!emacs!.emacs.d!type-break#
*.#-emacsa09924
*.~70~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~69~
*.~68~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~78~
*.~83~
*.~85~
.emacs.d/elpa/org-20170210/README_ELPA
*.elc8140_0j
.emacs.d/i2calorg
*.last
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!notes!20170427-2214.org.~1~
.emacs.d/elpa/org-20170210/COPYING
*.py
.emacs.d/elpa/archives/gnu/archive-contents
.emacs.d/elpa/org-20170210/etc/ORG-NEWS
*.saves-10680-LENOVO-PC~
.emacs.d/backups/!drive_c!Users!betsy!.emacs.d!betsy-theme.el.~1~
*.~101~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!emacs!.emacs.~100~
*.~54~
*.~12~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!1.inbox.org.~72~
*.~2~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!12.ndd.org.~14~
*.~1~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!20170506-1331.org.~3~
*.~4~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!archive.org.~14~
*.~3~
*.~20~
*.~23~
.emacs.d/backups/!drive_c!Users!betsy!Dropbox!Zettelkasten!5.journal.org.~10~
*.~56~
*.~61~
*.~59~
*.~6~
*.~88~
*.~73~
*.~7~
*.~78~
*.~89~
*.~81~
*.~16~
*.~90~
*.~15~
*.~22~
*.~28~
*.~29~
*.~24~
*.~27~
*.~30~
*.~31~
*.~35~
*.~26~
*.~50~
*.~19~
*.1
*.xpm
*.tex
*.def
*.info
.emacs.d/elpa/org-ref-20170407.1250/org-ref.bib
.emacs.d/elpa/org-ref-20170407.1250/citeproc/readme.org
.emacs~
.emacs.d/elpa/pdf-tools-20170317.810/README
*.h
*.cc
/.#settings.org
/tmp96tWv
/pi.org
settings.el
/##.emacs##
/.#pi.org
/.emacs.d/.#settings.org
/.emacs.d/.emacs.desktop
/.emacs.d/.emacs.desktop.lock
settings.el
/*.gpg
